
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'icofont\icofont.min.css' %}">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script>
        function hideElement(){
        var element = document.getElementById("");
        element.style.display = "none";
          }

    function showElement() {
        var element = document.getElementById("");
        element.style.display = "block";
        }

    </script>
    
</body>
</html>