{% extends 'base.html'%}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <title>Home Page</title>
   <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{%static 'icofont\icofont.min.css' %}">
   <link rel='stylesheet' href="{%static 'side.css' %}">
   <style>

    .b1:hover{background:red}
    .a1 
    {transition: all ease 0.4s;}
    .a1{color:rgb(5, 5, 111)}
    .a1:hover{color:red}
    .b3{background: rgb(5, 5, 111);}
    .b3{transition: all ease 0.4s;}
    .b3:hover{background:rgb(255, 0, 30)}
    .b4{background: rgb(255, 0, 30);}
    .b4{transition: all ease 0.4s;}
    .b4:hover{background:rgb(5, 5, 111)}
    .b5{background: rgb(255, 0, 30);}
    .b5{transition: all ease 0.4s;}
    .b5:hover{background:rgb(5, 5, 111)}
    .btn .b9:hover{background:rgb(5,5,111);}
</style>

</head>
<body>

    <div style="background:url({%static 'images/b16.jpg' %});height:100%;width:100%;background-size:cover;">
    <script src="js/bootstrap.bundle.min.js"></script>
    <div style="background:rgba(5,5,111,0.50);width:100%;height:100%;">
    <section>
    <div style="background:url({%static 'images/b14.jpg' %});width :100%;height:800px;background-size:cover;">
    <div style="background:rgba(0, 0, 0,0.50);height:800px;width:100%">
        <br><br><br>
        <div class="row">
            <div calss="col-md-6" data-aos="fade-right"
            data-aos-duration="1200" >
            <br>
            <br>
               <p style="color:white;font-size:25px;margin-left:150px ;font-family: sans-serif;"><b>Solutions for all types of visas</b></p>
               <p style="color:white;font-size:78px;margin-left:150px;font-family:sans-serif"><b>Best Solution to<br> all Migrations<br> matters</h1></p>
               <p><button class="btn btn-danger text-light rounded-1 mt-1" style="height:55px;width:200px;margin-left: 150px;">Contact Us</button>&nbsp;&nbsp;&nbsp;&nbsp;
                 <i  style="color:white" class="icofont-phone icofont-3x mt-5"></i><span style="color:white;font-size:larger;">Call us </span>
               </p>
            </div>
        <div class="col-md-6"></div>
        </div>
    </div>    
    </div>
    </section>

    <section class="pb-4" style="background:rgb(240, 240, 243)">
        <br><br><br><br>
        <center><p style="color:rgb(255, 0, 0);font-size: 25px;font-weight: 500;">Visa Categories</p>
                <p style="color:rgb(5, 5, 111);font-size:55px ;">Outstanding Immigration<br>
                Visa Services</p>
        </center>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4 me-5 shadow" data-aos="zoom-in" data-aos-duration="700" style="background:white;border-radius:10px;width:380px;">
                    <div style="background: url({%static 'images/s3.jpg' %});height:270px;width:380px;border-radius:10px 10px 0px 0px;background-size:cover;margin-left:-12px"></div>
                    <p  style="margin-top:-35px"><center><i class="icofont-users-alt-5 icofont-2x border border-3 p-3 rounded-5" style="color:white;background: rgb(5, 5, 111)"></i></center></p>
                    <center><p class="mt-5"><a class="a1" href="" style="text-decoration:none;"><h3>Student Visa</h3></a></p></center>
                    <p class="mt-4 ms-4 me-4" style="color:rgb(5, 5, 111);font-weight: 400;">A student visa is a travel authorization issued by countries around the world. It permits foreign students to study at a university or college within its national territory. </p>
                    </div>
                    
                    
                   
                    <div class="col-md-4 me-5 shadow" data-aos="zoom-in" data-aos-duration="700" style="background:white;border-radius:10px;width:380px">
                    <div  style="background: url({%static 'images/b16.jpg' %});height:270px;width:380px;border-radius:10px 10px 0px 0px;background-size:cover;margin-left:-12px;"></div>
                    <p  style="margin-top:-35px"><center><i class="icofont-users-alt-5 icofont-2x border border-3 p-3 rounded-5" style="color:white;background: rgb(5, 5, 111)"></i></center></p>
                    <!--<p style="margin-top:230px ;"><center><i class="icofont-users-alt-5 icofont-4x border border-3 p-2 rounded-5" style="color:blue;"></i></center></p>-->
                        <center><p class="mt-5"><a class="a1" href="" style="text-decoration:none;"><h3>Business Visa</h3></a></p></center>
                        <p class="mt-4 ms-4 me-4" style="color:rgb(5, 5, 111);font-weight: 400;">A business visa is a travel authorization that allows an entrepreneur or company employees to visit a foreign country temporarily for business purposes. </p>
                        
                   
                    </div>
                   
                    
                    <div class="col-md-4 shadow" data-aos="zoom-in" data-aos-duration="700"  style="background:white;border-radius:10px;width:380px;">
                    <div  style="background: url({%static 'images/f1.jpg' %});height:270px;width:380px;border-radius:10px 10px 0px 0px;background-size:cover;margin-left:-12px"></div>
                        <p  style="margin-top:-35px"><center><i class="icofont-users-alt-5 icofont-2x border border-3 p-3 rounded-5" style="color:white;background: rgb(5, 5, 111)"></i></center></p>
                        <center><p class="mt-5"><a class="a1" href="" style="text-decoration:none;"><h3>Family Visa</h3></a></p></center>
                        <p class="mt-4 ms-4 me-4" style="color:rgb(5, 5, 111);font-weight: 400;">A family visa is a type of visa that legally permits foreign nationals to live with their relatives in another country. </p>
                        
                    
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-5">
              <button class="btn text-light rounded-1" style="margin-left:344px;background:blue;height:54px;width:150px">
                <div class="b3" style="height:54px;margin-top:-7px;width:151px;margin-left:-13px;padding-top:12px;border-radius:3px;"><a href="Visa_detail/2" style="text-decoration:none;color:white">Explore More</a></div>
              </button>
            </div>

            <div class="col-md-4">
              <button class="btn text-light rounded-1" style="margin-left:130px;background:blue;height:54px;width:150px">
                <div class="b3" style="height:54px;margin-top:-7px;width:151px;margin-left:-13px;padding-top:12px;border-radius:3px;"><a href="Visa_detail/1" style="text-decoration:none;color:white">Explore More</a></div>
             </button>
            </div>

            <div class="col-md-3">
              <button class="btn text-light rounded-1" style="margin-left:42px;background:blue;height:54px;width:150px">
                <div class="b3" style="height:54px;margin-top:-7px;width:151px;margin-left:-13px;padding-top:12px;border-radius:3px;"><a href="Visa_detail/7" style="text-decoration:none;color:white">Explore More</a></div>
              </button>
            </div>

            <br><br><br><br>
    </section>

    <section class="pt-5" style="background:rgb(255, 255, 255);">
      <div class="row ps-5  ms-5" >
        <div class="col-md-6">
            <img src="{%static 'images/b18.jpg' %}" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine" width="650px" height="800px" style="border-radius:10px">
        </div>
        <div class="col-md-6 ps-5" style="border-left:1px solid red">
            <p class="pt-4" style="color:red;font-size:20px;font-weight: 600;">About Agency</p>
            <p style="color:rgb(5, 5, 111);font-size:50px;" >Welcome to immigration Advisor Services</p>
            <p class="pt-3 pe-5 ps-3" style="color:rgb(5, 5, 111);font-size:18px;font-weight:400;"></p>
           
            <div class="row pt-4" >
                <div class="col-md-1" >
                    <i class="icofont-airplane icofont-3x" style="color:red"></i>
                </div>
                <div class="col-md-11 ">
                    <p style="color:rgb(5, 5, 111);font-size:25px">Our Missions</p>
                    <p style="color:rgb(5, 5, 111);font-size:15px;font-weight: 400;"> “Our Mission is to open the door of opportunity effectively and competently to those individuals who would like to build a better life for themselves by opening up employment, career and business prospects in Canada.”</p>
                </div>
             </div>
             
             <div class="row pt-4">
                <div class="col-md-1">
                    <i class="icofont-globe icofont-3x" style="color:red"></i>
                </div>
                <div class="col-md-11">
                    <p style="color:rgb(5, 5, 111);font-size:25px">Our Visions</p>
                    <p style="color:rgb(5, 5, 111);font-size:15px;font-weight: 400;">“Our vision is to become an integral consulting company to which people turn to for immigration, education, career and professional development services. We empower individuals to move ahead in life!”</p>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-md-1">
                    <i class="icofont-users-alt-4 icofont-3x" style="color:red"></i>
                </div>
                <div class="col-md-11">
                    <p style="color:rgb(5, 5, 111);font-size:25px">Our Values</p>
                    <p style="color:rgb(5, 5, 111);font-size:15px;font-weight: 400;">"We emphasize on quality, efficiency, and alignment with client goals as core standards by which we continually improve our services. This value driven approach is what you should expect from a consulting firm you select to handle your case."</p>
                </div>
            </div>

          <!--<div class="row mt-5">
            <div class="col-md-3">
            
            <img src="{%static 'images/b9.jpg' %}" width="130px" height="110px" style="border-radius:10px">
            </div>

            <div class="col-md-9">
                <p class=" pt-3 pe-5 me-4" style="color:rgb(5, 5, 111);font-size:20px;font-weight:700"> 25+ Years of experience in visa and immigrations services</p>
            </div>
         </div>-->
           <!--<button class="btn mt-4" style="width:180px;height:55px;color:white"><div class="b4" style="color:white;height:54px;width:156px;padding-top:12px;margin-top:20px;border-radius:4px">Discover More</div></button>-->

            </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            


    </section>

    
    <section >
        <div style="margin-top:-150px;margin-left:100px;" >
            <div class="row " style="background:white;margin-left:100px;margin-right:100px;">
                <div class="row " data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom">
                  
                    <div class="col-md-6">
                        <p><h2 class="ms-4 mt-4" style="color:rgb(5, 5, 111)">Have any Questions? Ask a Specialist</h2> </p>
                        <p><h5 class="ms-4 mt-4" style="color:rgb(5, 5, 111)">Have any Questions? Ask a Specialist</h5></p>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="ms-4 mt-5"><a href="{% url 'Contact' %}" style="text-decoration: none;"><i class="icofont-phone icofont-5x" style="color:rgb(255, 5, 55)"></i></a></p>
                            </div>
                            <div class="col-md-10">
                                <p class="mt-4 pt-3"><h2 class="ms-3" style="color:rgb(5, 5, 111)">+90 1234566778</h2></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <img src="{%static 'images/b16.jpg' %}" height="310px" width="621px">
                    </div>
                </div>
            </div>
         
            </div>
            

        <div style="background:rgba(5, 5, 111,0.50);"> 
            <br><br><br><br>

        <center><h4><p style="color:red;font-weight: 500;">Choose Country</p></h4>
        <p style="color:white;font-size: 40px;font-weight: 700;">Immigration And Citizenship<br>Choose Your <span class="border-bottom border-4">Country!</span></p>
        </center>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3" data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="card" style="width: 18rem;">
                        <img src="{%static 'images/australia.jpg' %}" height="200px">
                        <div class="card-body">
                            <center><h4 class="mt-4" style="color:rgb(5, 5, 111)">Australia</h4>
                                <p style="color:rgb(5, 5, 111);font-weight: 400;">We will help you in every step of the Visa application process.</p>
                            </center>
                        </div>
                      </div>
                </div>
                <div class="col-md-3" data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="card" style="width: 18rem;">
                        <img src="{%static 'images/germany.jpg' %}" height="200px" style="background-size: cover;">
                        <div class="card-body">
                            <center><h4 class="mt-4" style="color:rgb(5, 5, 111)">Germany</h4>
                                <p style="color:rgb(5, 5, 111);font-weight: 400;">We will help you in every step of the Visa application process.</p>
                            </center>
                        </div>
                      </div>
                </div>
                <div class="col-md-3" data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="card" style="width: 18rem;">
                        <img src="{%static 'images/england.jpg' %}" height="200px">
                        <div class="card-body">
                            <center><h4 class="mt-4" style="color:rgb(5, 5, 111)">England</h4>
                                <p style="color:rgb(5, 5, 111);font-weight: 400;">We will help you in every step of the Visa application process.</p>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="card" style="width: 18rem;">
                        <img src="{%static 'images/canada.jpg' %}" height="200px">
                        <div class="card-body">
                          <center><h4 class="mt-4" style="color:rgb(5, 5, 111)">Canada</h4>
                               <p style="color:rgb(5, 5, 111);font-weight: 400;">We will help you in every step of the Visa application process.</p>
                          </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center><a href="{% url 'Country' %}"  class="btn mt-5 pt-3 pb-3" style="height:60px;width:220px;font-size:larger;background: rgb(255,0,30);color:white;">
                   All Countries
        </a></center>
        </center>
        <br><br<br><br><br>

        </div>
    </div>
</section>

<!--<section  style="background:rgb(241, 244, 247);">
        
        
     <div  style="height:250px;width:1200px;background: rgb(255, 255, 255);margin-left:130px">
   <div class="flex-row" style="background:rgb(255, 255, 255);margin-left:100px;margin-right: 100px;">
       <div class="row">
           <div class="col-md-6">
               <p><h2 class="ms-4 mt-4" style="color:rgb(5, 5, 111)">Have any Questions? Ask a Specialist</h2> </p>
               <p><h5 class="ms-4 mt-4" style="color:rgb(5, 5, 111)">Have any Questions? Ask a Specialist</h5></p>
               <div class="row">
                   <div class="col-2">
                       <p class="ms-4 mt-5"><i class="icofont-phone icofont-5x" style="color:rgb(255, 5, 55)"></i></p>
                   </div>
                   <div class="col-10">
                       <p class="mt-4 pt-3"><h2 class="ms-3" style="color:rgb(5, 5, 111)">+90 1234566778</h2></p>
                   </div>
               </div>
           </div>
           <div class="col-md-6"></div>
       </div>
   </div>

   </div>
   

</section>
-->

<section class="pt-5 " style="background:white">
    <div>
        <br>
        <br>
        
    <center><h4 style="color:red">Professional Services</h4>
    <p class="mb-1 pb-1" style="color:rgb(5, 5, 111);font-size:45px;font-weight:500">Meet Top Expert Visa and<br> Immigration Consultants</p></center>
    <div class="container">
        <center><div class="row">
                   <div class="col-md-4 m-3" style="background:url({%static 'images/cons1.jpg' %});border-radius:10px;height:500px;width:400px">
                  <a href="https://www.skybirdinternational.com/" style="text-decoration: none;"><p style="color:rgb(5, 5, 111);background:white;margin-top:300px;font-size:30px;font-weight:500;" data-aos="zoom-out-right">Skybird International</p></a>
                    </div>
                   <div class="col-md-4 m-3" style="background:url({%static 'images/cons2.jpg' %});border-radius:10px;height:500px;width:400px">
                    <a href="https://singhfoundation.co.in/" style="text-decoration: none;"><p style="color:rgb(5, 5, 111);background:white;margin-top:300px;font-size:30px;font-weight:500;" data-aos="zoom-out-right">Singh Foundation</p></a>
                   </div>
                   <div class="col-md-4 m-3" style="background:url({%static 'images/cons3.jpg' %});border-radius:10px;height:500px;width:400px">
                    <a href="https://gradico.com/" style="text-decoration: none;"><p style="color:rgb(5, 5, 111);background:white;margin-top:300px;font-size:30px;font-weight:500;" data-aos="zoom-out-right">Gradico Consultants</p></a>
                   </div>
                   
                   
                </div>
        </center>
        <br><br><br><br><br>
    </div>
    </div>
</section>


<section style="background:rgb(5, 5, 111);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form style="background: white;border-radius: 10px;margin-top: 150px;height:650px" data-aos="zoom-in" data-aos-duration="700" action="" method="POST">
                    {% csrf_token %}
             
                    <p class="text-primary">{{rest}}</p>

                    <p class="mt-5 ms-4 pt-5" style="color:rgb(255, 0, 76);font-size:20px">Eligible to apply</p>
                    <p class="ms-4" style="color:rgb(5, 5, 111);font-size:30px;font-weight:400">Check Your Eligibility</p>


                    <p class="ms-4 mt-4">
                        <input class="ps-2 pt-3 pb-3" type="text" name="fn" placeholder="First Name" style="height:50px;width:280px" required>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="ps-2 pt-3 pb-3" type="text" name="ln" placeholder="Last Name" style="height:50px;width:280px">
                    </p>


                    <p class="ms-4 mt-4">
                        <input class="ps-2 pt-3 pb-3" type="email" placeholder="Email" name="em" style="height:50px;width:280px" required>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="ps-2 pt-3 pb-3" type="text" placeholder="Phone" name="ph" style="height:50px;width:280px" required>
                    </p>


                    <p class="ms-4 mt-4">
                        <select class="ps-2 pt-2 pb-3" name="marital status" style="height:50px;width:280px;color:gray" value="Marriage" required><option hidden>Marital Status</option>
                           <option  style="color:rgb(5,5,111)">Married</option>
                           <option  style="color:rgb(5,5,111)">Unmarried</option>
                         </select>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <input class="ps-2 pt-3 pb-3" type="text" name="occupation" placeholder="Current Occupation" style="height:50px;width:280px" required>
                    </p>

                    <p class="ms-4 mt-4">
                        <select class="ps-2 pt-2 pb-3" name="country" style="height:50px;width:280px;color:gray" value="Country" required>
                            <option hidden>Country</option> 
                            <option style="color:rgb(5,5,111)">Canada</option>
                            <option style="color:rgb(5,5,111)">Australia</option>
                            <option style="color:rgb(5,5,111)">Germany</option>
                            <option style="color:rgb(5,5,111)">South Korea</option>
                            <option style="color:rgb(5,5,111)">England</option>
                            <option style="color:rgb(5,5,111)">USA</option>
                          
                        </select>    

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <select class="ps-2 pt-2 pb-3" name="visa"  style="height:50px;width:280px;color:gray" value="visa" required>
                            <option hidden>Visa</option> 
                            <option style="color:rgb(5,5,111)">Tourist Visa</option>
                            <option style="color:rgb(5,5,111)">Business Visa</option>
                            <option style="color:rgb(5,5,111)">Medical Visa</option>
                            <option style="color:rgb(5,5,111)">Student Visa</option>
                            <option style="color:rgb(5,5,111)">Business Visa</option>
                            <option style="color:rgb(5,5,111)">Family Visa</option>
                        </select>    

                    </p>
                    <button class="btn rounded-1 mt-4 ms-4" style="height:55px;width:200px;background:rgb(255, 0, 38);color:white;font-size:20px" type="submit">Check now</button>
                    <br>
                    <br>
                    <br>
                </form>
                <br>
                <br>
               
                
            </div>
            <div class="col-md-6">
                <img src="{%static 'images/plane.png' %}" height="400px";width="300px" style="margin-left:200px">
                <img src="{%static 'images/1.png' %}" height="500px" width="500" style="margin-left:150px;"> 
            </div>
        </div>
    </div>

</section>

<section class="pt-5" style="background: white;">
    <div>
    <br>
    <br>
    <center><p style="color:rgb(255, 0, 76);font-size:25px;font-weight:500">Coaching We Offer</p>
    <p style="color:rgb(5, 5, 111);font-size:40px;font-weight:700">Get the Immigration Training<br> You deserve</p>
    </center>
    <br><br>
    <div class="row ms-5 me-4" >

       
    {% for i in res_coach %}
    {% if  forloop.counter <= 4 %}

    <div class="col-md-3 " data-aos="zoom-out-down" data-aos-duration="800" >
       <div class="card shadow" style="width:18rem;height:400px" >
            <img src="{{ i.image.url }}" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
                <h3 class="mt-3" style="color:rgb(5, 5, 111)">{{ i.name }}</h3>
                <p style="font-weight:500;color:rgb(5, 5, 111);">{{ i.overview|truncatechars:130 }}</p>
            </div>
        </div>
        <!--<a class="btn" href="{% url 'Coaching' %}" style="background:rgb(5, 5, 111);color:white;height:50px;width:180px;border-radius: 0px 0px 5px 5px;font-size:20px;text-decoration:none;">View More</a>-->
    </div>
    {% endif %}
   {% endfor %}

   <div class="row">
    <div class="col-md-3">
        <a class="btn" href="Coaching_details/1" style="background:rgb(5, 5, 111);color:white;height:50px;width:180px;border-radius: 0px 0px 5px 5px;font-size:20px;text-decoration:none;margin-left:2px">Read More</a>
    </div>

    <div class="col-md-3">
        <a class="btn" href="Coaching_details/2" style="background:rgb(5, 5, 111);color:white;height:50px;width:180px;border-radius: 0px 0px 5px 5px;font-size:20px;text-decoration:none;margin-left:6px">Read More</a>
    </div>

    <div class="col-md-3">
        <a class="btn" href="Coaching_details/3" style="background:rgb(5, 5, 111);color:white;height:50px;width:180px;border-radius: 0px 0px 5px 5px;font-size:20px;text-decoration:none;margin-left:12px">Read More</a>
    </div>

    <div class="col-md-3">
        <a class="btn" href="Coaching_details/4" style="background:rgb(5, 5, 111);color:white;height:50px;width:180px;border-radius: 0px 0px 5px 5px;font-size:20px;text-decoration:none;margin-left:19px">Read More</a>
    </div>
   </div>
  


    </div>
    <br>
    <br>
    <br>
    <br>
    </div>
</section>

<section style="background:rgba(5, 5, 111,0.50);">
    <center>
        <img src="{%static 'images/s3.jpg' %}" width="100px" height="100px" style="border-radius:50px;margin-top:80px;background-repeat: no-repeat;">
        <p class="mt-3 mb-1" style="color:white;font-size:30px;font-weight:500">ImmigraWorld</p>
        <p style="color:white;font-size:300;font-weight:400">Consultancy</p>
        <p style="color:white;font-size:40px;font-weight:500;">It is the best Consultancy and is definitely<br> a highly recommended thing for you</p>
        <p class="mt-4"><button style="background:white;height:4px;width:27px;border:none;border-radius:2px;"></button></p>
    </center>
    <br>
    <br>
    
</section>
    
<section  style="background:white;">
    <center><p style="color:rgb(255, 0, 76);font-size:30px;font-weight:500;padding-top:100px">Recent Blog</p>
            <p style="color:rgb(5, 5, 111);font-size:40px;font-weight:700">Recent udpates of Visa<br>and Immigration</p>
    </center>
    <div class="row ms-5 ps-5 mt-3 pt-5 mb-5" >
        <!--
        <div class="col-md-4 shadow p-0" data-aos="flip-down"  data-aos-duration="700">
            <div class="card " style="width:420px;border-radius: 5px 5px 0px 0px;">
                <img src="{%static 'images/f1.jpg' %}" width="419px" height="350px" style="border-radius: 5px 5px 0px 0px;" >
                <div class="card-body">
                  <p class="card-title mt-3" style="color:rgb(5, 5, 111);font-size:17px;font-weight:400;"><i class="icofont-users-alt-5 icofont-1x" style="color:red" ></i>&nbsp;&nbsp;By admin</p>
                  <p class="card-text" style="color:rgb(5, 5, 111);font-size:22px;font-weight:500;">Reasons For Australia students visa refusel</p>
                  <p><a href="" style="color:rgb(5, 5, 111);font-size:15px;font-weight:400;text-decoration:none;">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 shadow p-0" data-aos="flip-down" data-aos-duration="700">
            <div class="card" style="width:420px;border-radius: 5px 5px 0px 0px;">
                <img src="{%static 'images/f2.jpg' %}" width="419px" height="350px" style="border-radius: 5px 5px 0px 0px;" >
                <div class="card-body">
                 <p class="card-title mt-3" style="color:rgb(5, 5, 111);font-size:17px;font-weight:400;"><i class="icofont-users-alt-5 icofont-1x" style="color:red" ></i>&nbsp;&nbsp;By admin</p>
                  <p class="card-text" style="color:rgb(5, 5, 111);font-size:22px;font-weight:500;">Reasons For Australia students visa refusel</p>
                  <p><a href="" style="color:rgb(5, 5, 111);font-size:15px;font-weight:400;text-decoration:none;">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 shadow p-0" data-aos="flip-down" data-aos-duration="700">
            <div class="card" style="width:420px;border-radius: 5px 5px 0px 0px;">
            <img src="{%static 'images/f3.jpg' %}" width="419px" height="350px" style="border-radius: 5px 5px 0px 0px;" >
                <div class="card-body">
                  <p class="card-title mt-3" style="color:rgb(5, 5, 111);font-size:17px;font-weight:400;"><i class="icofont-users-alt-5 icofont-1x" style="color:red" ></i>&nbsp;&nbsp;By admin</p>
                  <p class="card-text" style="color:rgb(5, 5, 111);font-size:22px;font-weight:500;">Reasons For Australia students visa refusel</p>
                  <p><a href="" style="color:rgb(5, 5, 111);font-size:15px;font-weight:400;text-decoration:none;">Read More</a></p>
                </div>
            </div>
        </div>
    -->
    {% for i in res_blog %}
    {% if forloop.counter <= 3 %}
    <div class="col-md-4  p-0" data-aos="flip-down" data-aos-duration="700">
        <div class="card shadow" style="width:420px;border-radius: 5px 5px 0px 0px;height:550px">
        <img src="{{ i.image.url }}" width="419px" height="350px" style="border-radius: 5px 5px 0px 0px;" >
            <div class="card-body">
              <p class="card-title mt-3" style="color:rgb(5, 5, 111);font-size:17px;font-weight:400;"><i class="icofont-users-alt-4 icofont-1x" style="color:red" ></i>&nbsp;&nbsp;{{i.writer}}</p>
              <p class="card-text" style="color:rgb(5, 5, 111);font-size:22px;font-weight:500;">{{i.title|truncatechars:150|striptags}}</p>
              <p><a href="{% url 'Blog' %}" style="color:rgb(5, 5, 111);font-size:18px;font-weight:400;text-decoration:none;color:red">Read More</a></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    </div>
    

</section>
</div>
</div>

<script>
    function checkLogin(event) {
        // Assuming you're storing the session info in a global variable or cookie
        var isLoggedIn = "{{ request.session.em|default:None }}";
        
        if (!isLoggedIn) {
            event.preventDefault(); // Prevent the default action of the button
            window.location.href = '/Login'; // Redirect to login page
        }
    }

    // Add event listeners to your buttons
    document.querySelectorAll('.nav-button').forEach(button => {
        button.addEventListener('click', checkLogin);
    });
</script>
    
</body>
</html>



{% endblock %}